.rememberme {
    float: left;
    margin-left: 10%;
}

@media (min-width: 400px) {
    .rememberme {
        float: left;
        margin-left: 7%;
    }
}

@media (min-width: 700px) {
    .rememberme {
        float: left;
        margin-left: 5%;
    }
}

@media (min-width: 1000px) {
    .rememberme {
        float: left;
        margin-left: 20%;
    }
}