<h2>Про нас</h2>

<p>Фірма "Формула відпочинку" була створена для того, щоб забезпечувати максимально комфортні подорожі на будь-який смак та гаманець. Ознайомтесь із широким вибором пакетних турів та можливістю сконструювати власну унікальну подорож від А до Я, і не пошкодуєте! </p>
<p>З нами можна сконтактувати, обравши для себе найбільш зручний спосіб: електронну пошту, телефон чи особистий візит. Ми вже чекаємо на вас!</p></p>

<h2>Контактна інформація</h2>

<address>
    <strong>Адреса:</strong> вулиця Грабовського, 11, офіс 517, місто Львів, 79007, Львівська область, Україна<br />
    <strong>Телефон:</strong> +380958268979
</address>

<address>
    <strong>Замовлення турів та консультацій:</strong> <a href="mailto:fvtours@gmail.com">fvtours@gmail.com</a><br />
    <strong>Запитання та пропозиції:</strong> <a href="mailto:fvquestions@gmail.com">fvquestions@gmail.com</a><br />
    <strong>Співпраця із фірмою:</strong> <a href="mailto:fvwork@gmail.com">fvwork@gmail.com</a><br />
</address>

<a href="https://twitter.com/formvidpochinku"><i class="fab fa-twitter-square fa-2x icon-color"></i></a>
<a href="https://www.instagram.com/formvidpochinku/"><i class="fab fa-instagram fa-2x icon-color"></i></a>
<a href="https://www.facebook.com/formvidpochinku"><i class="fab fa-facebook-square fa-2x icon-color"></i></a>
<br />
<br />

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2573.541960044789!2d24.020018615675063!3d49.832273479394885!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473add6500ab8561%3A0x2f7fc8da6cfd29a6!2z0YPQuy4g0JPRgNCw0LHQvtCy0YHQutC-0LPQviwgMTEsINCb0YzQstC-0LIsINCb0YzQstC-0LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgNzkwMDA!5e0!3m2!1sru!2sua!4v1548583888421" style="width: 100%; height: 400px" frameborder="0" allowfullscreen></iframe>