<div class="jumbotron transparent" style="padding: 20px; padding-top: 5px; margin-bottom: 5px">
    <h1>Формула відпочинку</h1>
    <p class="lead">Ми підберемо незабутню подорож, базуючись конкретно на ваших унікальних бажаннях та можливостях! Це шанс побачити світ по-новому...</p>
    <a class="btn btn-default btn-lg no-underline" href="@Url.Action("Subscription", "Manage")"> <span> <i class="fas fa-envelope"></i> Підписатись на оновлення</span> </a>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Новини та акції</h2>
        <p>
            Завжди будьте в курсі найсвіжіших новин фірми, а також не пропустіть гарячі акційні пропозиції на пакетні тури та індивідуальний підбір. Економте і відпочивайте із задоволенням!
        </p>
        <p>
            <a class="btn btn-default no-underline" href="@Url.Action("Index", "News")"> <span> Перейти до розділу <i class="fas fa-chevron-right"></i> </span> </a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Пакетні тури</h2>
        <p>
            Великий вибір пакетних турів на будь-який смак: мінімальна участь в організації з вашого боку, максимальний кайф від розпланованих до найменших дрібниць подорожей. Ознайомтесь детальніше, і не пошкодуєте!
        </p>
        <p>
            <a class="btn btn-default no-underline" href="@Url.Action("Tours", "Home")"> <span> Перейти до розділу <i class="fas fa-chevron-right"></i> </span> </a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Конструктор турів</h2>
        <p>
            Скористайтесь можливістю створення унікального туру, орієнтованого тільки на ваші смаки та вподобання, а також співрозмірного з фінансами та обмеженнями. Наш розумний помічник ще нікого не підводив...
        </p>
        <p>
            <a class="btn btn-default no-underline" href="@Url.Action("Helper", "Home")"> <span> Перейти до розділу <i class="fas fa-chevron-right"></i> </span> </a>
        </p>
    </div>
</div>