/* Body */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
}

@media(max-width: 1100px) {
    body {
        background-size: auto;
    }
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
}

/* Navbar */
.navbar-inverse {
    background-color: #2C4A55;
    border-color: #2C4A55;
    font-size: 110%;
}

    .navbar-inverse a {
        font-family: Georgia, serif;
        color: white;
        text-decoration: none;
    }

/* Buttons */
.btn-success {
    background-color: #2C4A55;
    border: white;
}

    .btn-success:hover {
        background-color: #7A898C;
        border: white;
    }

/* Links */
a {
    color: #2C4A55;
    text-decoration: underline;
}

    a:hover {
        color: #7A898C;
    }

/* Other page elements */
hr {
    border-top-color: #2C4A55;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

h, h1, h2, h3, h4, h5, h6, p, label {
    color: #333;
}